body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #EDEDED;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
